.field-wrap {
  display: flex;
  font-size: 18px;
  align-items: center;
  flex-direction: column;
  justify-self: left;
  label {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }
  input {
    border-radius: 10px;
    font-size: 20px;
    color: #666;
    height: 40px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 10px;
  }
}
